.root { -fx-background-color: transparent; }
#SceneBackground {
    -fx-background-image: url("Images/GameSceneBackground.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
#TriviaPane {
    -fx-background-image: url("Images/triviaBackground.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#WestBridge,#SouthBridge {
    -fx-text-fill: transparent;
    -fx-background-image: url("Images/triviaBackground.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#EastBridge,#NorthBridge {
    -fx-text-fill: transparent;
    -fx-background-image: url("Images/triviaBackground.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}