.root { -fx-background-color: transparent; }
#HelpBackground {
    -fx-background-image: url("Images/MainBackground.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}